<div class="login-background" align="center">

    <div class="container">
        
            <div class="col-md-6 login_input-container">
                <img src="img/preloading.png" style="width: 50%">

                <div class="alert alert-warning" role="alert" ng-show="loginAlert.isOn" style="margin-top: 20px;">
                  {{loginAlert.text}}
                </div>

                <div align="left" style="margin-top: 20px; width: 80%">
                    <label for="email-account" class="login_input-label">Email</label>
                    <div class="input-group">
                      <input type="email" class="form-control" id="email-account" aria-describedby="basic-addon3" ng-model="account.email" ng-enter="makeLogin()">
                    </div>

                    <label for="password-account" class="login_input-label" style="margin-top: 10px;">Senha</label>
                    <div class="input-group">
                      <input type="password" class="form-control" id="password-account" aria-describedby="basic-addon3" ng-model="account.password" ng-enter="makeLogin()">
                    </div>
                    
                    <div align="right" style="margin-top: 20px;">
                        <button class="login_button-sign cursor-pointer" ng-click="makeLogin()"><b>Entrar</b></button>
                        <div class="login_arrow-right cursor-pointer" ng-click="makeLogin()"></div>
                    </div>
                </div>
            </div>

    </div>

</div>