<div style="padding: 10px; margin: 0;" class="row">
	<div class="w100">
		<div class="row modalBodyNotification" ng-show="!paymentInvoiceShow">
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Emissão</label>
	            <div class="input-group modalNotificationInputsContent">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon">
	                <i class="fa fa-calendar" aria-hidden="true"></i>
	              </span>
	              <input type="date" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" placeholder="--/--/----" ng-model="newInvoice.dt_emissao">
	            </div>
			</div>

			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Número Invoice</label>
	            <div class="input-group modalNotificationInputsContent">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon">
	                <i class="fa fa-bars" aria-hidden="true"></i>
	              </span>
	              <input type="text" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" ng-model="newInvoice.nro_invoice">
	            </div>
			</div>
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Resp. Invoice</label>
	            <div class="input-group modalNotificationInputsContent">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon">
	                <i class="fa fa-bars" aria-hidden="true"></i>
	              </span>
	              <input type="text" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" ng-model="newInvoice.resp_invoice">
	            </div>
			</div>

			<!-- <div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Tipo</label>
	            <div class="input-group modalNotificationInputsContent">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon">
	                <i class="fa fa-bars" aria-hidden="true"></i>
	              </span>
	              <input type="text" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" ng-model="newInvoice.tipo">
	            </div> 
			</div> -->
      		<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="type" class="modalNotificationInputsLabel">Tipo</label>
	            <div class="input-group modalNotificationInputsContent">           	
	              	<select class="form-control" id="type" ng-model="newInvoice.tipo">
				        <option value="OPEX">OPEX</option>
				        <option value="CAPEX">CAPEX</option>
				        <option value="FINANCEIRA">FINANCEIRA</option>
				    </select>
	            </div> 
			</div>
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Fornecedor</label>
	            <div class="input-group modalNotificationInputsContent">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon">
	                <i class="fa fa-bars" aria-hidden="true"></i>
	              </span>
	              <input type="text" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" ng-model="newInvoice.fornecedor">
	            </div>
			</div>

			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Dólar Provisão</label>
	            <div class="input-group modalNotificationInputsContent">	            
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon" style="font-weight: bold; font-size:12px;">
	                BRL
	              </span>
	              <input type="number" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" ng-model="newInvoice.dolar_provisao">
	            </div>
			</div>
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Observação</label>
	            <div class="input-group modalNotificationInputsContent">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon">
	                <i class="fa fa-bars" aria-hidden="true"></i>
	              </span>
	              <input type="text" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" ng-model="newInvoice.observacao">
	            </div>
			</div>

		</div>
		<div class="row modalBodyNotification"  style="margin-top: 10px;" ng-show="!paymentInvoiceShow">
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Vencimento</label>
	            <div class="input-group modalNotificationInputsContent" style="background-color: #e74c3c">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon" style="background-color: #e74c3c; border-color: #e74c3c;">
	                <i class="fa fa-calendar" aria-hidden="true"></i>
	              </span>
	              <input type="date" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" placeholder="--/--/----" ng-model="newInvoice.dt_vencimento" style="border-color: #e74c3c;">
	            </div>
			</div>
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Valor Invoice</label>
	            <div class="input-group modalNotificationInputsContent" style="background-color: #3498db">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon" style="font-weight: bold; font-size:12px; background-color: #3498db; border-color: #3498db;">
	                USD
	              </span>
	              <input type="number" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" placeholder="0.00" ng-model="newInvoice.valor_invoice" style="border-color: #3498db;">
	            </div>
			</div>
		</div>

		<div class="row modalBodyNotification"  style="margin-top: 10px;" ng-show="paymentInvoiceShow">
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Data de Pagamento</label>
	            <div class="input-group modalNotificationInputsContent" style="background-color: #e74c3c">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon" style="background-color: #e74c3c; border-color: #e74c3c;">
	                <i class="fa fa-calendar" aria-hidden="true"></i>
	              </span>
	              <input type="date" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" placeholder="--/--/----" ng-model="newInvoice.dt_pagamento" style="border-color: #e74c3c;">
	            </div>
			</div>
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Imposto</label>
	            <div class="input-group modalNotificationInputsContent" style="background-color: #3498db">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon" style="font-weight: bold; font-size:12px; background-color: #3498db; border-color: #3498db;">
	                BRL
	              </span>
	              <input type="number" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" placeholder="0.00" ng-model="newInvoice.Imposto" style="border-color: #3498db;">
	            </div>
			</div>
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Dólar Pago</label>
	            <div class="input-group modalNotificationInputsContent" style="background-color: #3498db">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon" style="font-weight: bold; font-size:12px; background-color: #3498db; border-color: #3498db;">
	                BRL
	              </span>
	              <input type="number" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" placeholder="0.00" ng-model="newInvoice.dolar_pagamento" style="border-color: #3498db;" ng-change="refreshPrice()">
	            </div>
			</div>
			<div class="w50" style="padding: 10px; padding-top: 0px;">
				<label for="notification-name" class="modalNotificationInputsLabel">Valor Pago</label>
	            <div class="input-group modalNotificationInputsContent" style="background-color: #3498db">
	              <span class="input-group-addon modalNotificationInputsIcon" id="notification-name-icon" style="font-weight: bold; font-size:12px; background-color: #3498db; border-color: #3498db;">
	                USD
	              </span>
	              <input type="number" class="form-control modalNotificationInput" id="notification-name" aria-describedby="notification-name-icon" placeholder="0.00" ng-model="newInvoice.valor_pago" style="border-color: #3498db;">
	            </div>
			</div>
		</div>
	</div>
</div>

<div style="margin-top: 15px; padding-right: 10px;" align="right">
    <button class="modalNotificationButton" ng-click="createInvoice()" ng-show="editInvoiceShow == false && paymentInvoiceShow == false">
      <i class="fa fa-plus-circle" aria-hidden="true" style="margin-right: 5px;"></i>
      Cadastrar
    </button>
    <button class="modalNotificationButton" ng-click="cancelUpdateInvoice()" ng-show="editInvoiceShow || paymentInvoiceShow" style="background-color: transparent; color: #fff">
      Cancelar
    </button>
    <button class="modalNotificationButton" ng-click="deleteInvoice()" ng-show="editInvoiceShow == true && paymentInvoiceShow == false" style="background-color: #e74c3c;">
      <i class="fa fa-trash-o" aria-hidden="true" style="margin-right: 5px;"></i>
      Deletar
    </button>
    <button class="modalNotificationButton" ng-click="updateInvoice()" ng-show="editInvoiceShow == true && paymentInvoiceShow == false">
      <i class="fa fa-plus-circle" aria-hidden="true" style="margin-right: 5px;"></i>
      Atualizar
    </button>
    <button class="modalNotificationButton" ng-click="payInvoice()" ng-show="editInvoiceShow == false && paymentInvoiceShow == true">
      <i class="fa fa-dollar" aria-hidden="true" style="margin-right: 5px;"></i>
      Salvar
    </button>
</div>
