<div style="margin-top: 20px; padding-bottom: 15px;">

    <div class="row margin-0">
      <div class="row margin-0 w70" align="left" style="padding: 0 10px">
          <div style="font-weight: bold; font-size: 14px">
            Lista de Invoices
          </div>
      </div>
      <div class="row margin-0 w30" align="right">
          <div class="w20">
            <i class="fa fa-refresh cursor-pointer" aria-hidden="true" ng-click="getAllInvoices()" style="color: #fff; margin-right: 10px;"></i>
          </div>
          <div class="w40">
            <button class="resize-invoiceButton {{invoicesFilter == 1? 'modaNotification-button-filter-selected':'modaNotification-button-filter'}}" ng-click="selectInvoiceFilter(1)">Abertas</button>
          </div>
          <div class="w40">
            <button class="resize-invoiceButton {{invoicesFilter == 2? 'modaNotification-button-filter-selected':'modaNotification-button-filter'}}" ng-click="selectInvoiceFilter(2)">Encerradas</button>
          </div>
      </div>
    </div>
    <div class="margin-top-10" style="width: 100%; overflow-x: auto;" ng-show="invoicesFilter == 1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Opções</th>
            <th>Nr. Invoice</th>
            <th>Resp. Invoice</th>
            <th>Tipo</th>
            <th style="width: 15%;">Data de Emissão</th>
            <th style="width: 15%;">Data de Vencimento</th>
            <th>Fornecedor</th>
            <th>Valor Invoice</th>
            <th>Dólar Previsão</th>
            <th>Observação</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="invoice in openInvoices">
            <td class="row" style="margin: 0;">
              <i class="fa fa-pencil cursor-pointer" aria-hidden="true" ng-click="showEditInvoice(invoice)"></i>
              <i class="fa fa-dollar cursor-pointer" aria-hidden="true" ng-show="user.usertype == 'admin'" style="margin-left: 7px;" ng-click="showPaymentInvoice(invoice)"></i>
              <!-- <i class="fa fa-bell cursor-pointer" aria-hidden="true" style="margin-left: 7px;" ng-click="notificationInvoice(invoice)"></i> -->
            </td>
            <td>{{invoice.nro_invoice}}</td>
            <td>{{invoice.resp_invoice}}</td>
            <td>{{invoice.tipo}}</td>
            <td style="width: 15%;">{{invoice.dt_emissao}}</td>
            <td style="width: 15%">{{invoice.dt_vencimento}}</td>
            <td>{{invoice.fornecedor}}</td>
            <td>{{invoice.valor_invoice}}</td>
            <td>{{invoice.dolar_provisao}}</td>
            <td>{{invoice.observacao}}</td>
          </tr>
        </tbody>
      </table>
      <div align="center" ng-show="openInvoices.length == 0" style="width: 100%">
        <h5>Nenhuma invoice cadastrada.</h5>
      </div>
    </div>

    <div class="margin-top-10" style="width: 100%; overflow-x: auto;" ng-show="invoicesFilter == 2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Opções</th>
            <th>Nr. Invoice</th>
            <th>Resp. Invoice</th>
            <th>Tipo</th>
            <th style="width: 15%;">Data Emissão</th>
            <th style="width: 15%;">Data Vencimento</th>
            <th style="width: 15%;">Data Pagamento</th>
            <th>Fornecedor</th>
            <th>Valor Invoice</th>
            <th>Dólar Previsão</th>
            <th>Dólar Pagto</th>
            <th>Valor Pago</th>
            <th>Imposto</th>
            <th>Observação</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="invoice in closeInvoices">
            <td class="row" style="margin: 0;">
              <i class="fa fa-times-circle-o cursor-pointer" aria-hidden="true" style="margin-left: 7px;" ng-click="deleteInvoice(invoice.id)"></i>
            </td>
            <td>{{invoice.nro_invoice}}</td>
            <td>{{invoice.resp_invoice}}</td>
            <td>{{invoice.tipo}}</td>
            <td style="width: 15%;">{{invoice.dt_emissao}}</td>
            <td style="width: 15%;">{{invoice.dt_vencimento}}</td>
            <td style="width: 15%;">{{invoice.dt_pagamento}}</td>
            <td>{{invoice.fornecedor}}</td>
            <td>{{invoice.valor_invoice}}</td>
            <td>{{invoice.dolar_provisao}}</td>
            <td>{{invoice.dolar_pagamento}}</td>
            <td>{{invoice.valor_pago}}</td>
            <td>{{invoice.imposto}}</td>
            <td>{{invoice.observacao}}</td>
          </tr>
        </tbody>
      </table>
      <div align="center" ng-show="closeInvoices.length == 0" style="width: 100%">
        <h5>Nenhuma invoice fechada.</h5>
      </div>
    </div>
    
</div>

