<div class="dashboard-background row">
        
    <!-- BEGIN FIRST COLUMN -->
    <div class="col-md-9 dashboard-first-column">

        <nav class="navbar navbar-expand-lg dashboard-navbg">
            <div style="border-right: 2px solid #13181c;">
                <img src="{{user.photo}}" class="dashboard_nav-avatar">
                <span class="text-capitalize">{{user.name}}</span>
                <i class="fa fa-sign-out cursor-pointer margin-0-10" aria-hidden="true" ng-click="logout()"></i>
            </div>

            <button class="navbar-toggler color-green" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: 1px solid #3ab54a;">
                <i class="navbar-toggler-icon fa fa-bars" aria-hidden="true"></i>
            </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" align="center">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 w100" style="justify-content: center;">
              <li class="nav-item w20">
                <a class="nav-link">{{coinType}}</a>
              </li>
              <li class="nav-item w20" ng-repeat="data in navDatas">
                <a class="nav-link dashboard-nav-item">
                    <span class="{{data.color == 1 ? 'color-green':''}}{{data.color == 0 ? 'color-red':''}}">{{data.title}}</span>
                    <div class="dashboard_nav-subtext">{{data.sub}}</div>
                </a>
              </li>
            </ul>

          </div>
        </nav>

        <!-- BEGIN CONTENT -->
        <div class="dashboard-content" align="center">     
            <div ng-show="homeView == 1">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="w50" align="left">
                        <i class="fa fa-circle {{mainGraph.color == 2 ? 'color-green':''}}{{mainGraph.color == 1 ? 'color-yellow':''}}{{mainGraph.color == 0 ? 'color-red':''}}" aria-hidden="true"></i>
                        <span class="dashboard_graph-status">{{mainGraph.status}}</span> 
                    </div>
                </div>

                <!-- MAIN -->
                <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&news=1&studies=%5B%5D&newsvendors=stocktwits&hideideas=1&theme=Dark&style=2&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="chartView == 1"></iframe>

                <!-- MAIN - MACD -->
                <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&news=1&studies=MACD%40tv-basicstudies&newsvendors=stocktwits&hideideas=1&theme=Dark&style=2&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="chartView == 2"></iframe>

                <!-- MAIN - bollinger bands -->
                <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&news=1&studies=BB%40tv-basicstudies&newsvendors=stocktwits&hideideas=1&theme=Dark&style=2&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="chartView == 3"></iframe>

                <!-- MAIN - RSI -->
                <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&news=1&studies=RSI%40tv-basicstudies&newsvendors=stocktwits&hideideas=1&theme=Dark&style=2&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="chartView == 4"></iframe>

                <!-- MAIN - MACD - BB -->
                <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&news=1&studies=BB%40tv-basicstudies%1FMACD%40tv-basicstudies&newsvendors=stocktwits&hideideas=1&theme=Dark&style=2&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="chartView == 5"></iframe>

                <!-- MAIN - MACD RSI E BB -->
                <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&news=1&studies=BB%40tv-basicstudies%1FMACD%40tv-basicstudies%1FRSI%40tv-basicstudies&newsvendors=stocktwits&hideideas=1&theme=Dark&style=2&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="chartView == 6"></iframe>

                <!-- MAIN - MACD e RSI: -->
                <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&news=1&studies=MACD%40tv-basicstudies%1FRSI%40tv-basicstudies&newsvendors=stocktwits&hideideas=1&theme=Dark&style=2&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="chartView == 7"></iframe>

                <!-- MAIN - RSI e BB: -->
                <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&news=1&studies=RSI%40tv-basicstudies%1FBB%40tv-basicstudies&newsvendors=stocktwits&hideideas=1&theme=Dark&style=2&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="chartView == 8"></iframe>
            </div>


            <div ng-show="homeView == 2">
                <div class="row secondary-graph-status" align="center">
                    <div class="w5 padding-top-5" align="center">
                        <i class="fa fa-circle color-green" aria-hidden="true" style="font-size:14px;"></i>    
                    </div>
                    <div class="w18" align="left">
                        <div>{{selectedIndicator.title}}</div>
                        <div class="font-normal">{{selectedIndicator.sub}}</div>  
                    </div>
                    <div class="w18" align="left">
                        <div>{{selectedIndicator.average.value | number: 4}}</div>
                        <div class="font-normal">Média</div>     
                    </div>
                    <div class="w18" align="left">
                        <div>{{selectedIndicator.deviation.value | number: 4}}</div>
                        <div class="font-normal">Desvio Padrão</div>   
                    </div>
                    <div class="w18" align="left">
                        <div>{{selectedIndicator.distance.value | number:6}}</div>
                        <div class="font-normal">Distância Atual</div>     
                    </div>
                    <div class="w18 row margin-0" align="left">
                        <div align="center">
                            <input type="text" name="indicatorDay" ng-model="selectedIndicator.time" class="secondary-graph-days {{selectedIndicator.color == 1? 'color-green':'color-red'}}" style="border: none; padding: 5px; font-weight: bold;" ng-change="updateIndicatorDays()">
                        </div>
                        <div style="padding-left: 5px;">
                            <div class="font-normal">Dias<br>Passados</div> 
                        </div>
                    </div>
                </div>
                <div style="padding-top: 25px;">
                    
                    <!-- INDICADOR MACD -->
                    <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&studies=MACD%40tv-basicstudies&theme=Dark&style=1&timezone=Etc%2FUTC&hideideasbutton=1&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="secondChartView == 0 || secondChartView == 1"></iframe>

                    <!-- INDICADOR RSI -->
                    <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&studies=RSI%40tv-basicstudies&theme=Dark&style=1&timezone=Etc%2FUTC&hideideasbutton=1&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="secondChartView == 2"></iframe>

                    <!-- INDICADOR BB -->
                    <iframe src="https://www.tradingview.com/widgetembed/?symbol=FX_IDC%3AUSDBRL&interval=D&hidesidetoolbar=0&symboledit=0&saveimage=1&toolbarbg=f1f3f6&studies=BB%40tv-basicstudies&theme=Dark&style=1&timezone=Etc%2FUTC&hideideasbutton=1&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=www.tradingview.com&utm_medium=widget&utm_campaign=chart&utm_term=FX_IDC%3AUSDBRL" style="width: 100%; height: 500px; border:none;" ng-show="secondChartView == 3 || secondChartView == 4"></iframe>
                </div>

                <div>
                    <div class="secondary-graph-notification" align="left">
                        Estratégia de Notificações
                    </div>
                    <div class="row secondary-graph-notification-settings" style="margin-top: 15px">
                        <div class="w20 row margin-0" style="padding: 0 15px;" ng-repeat="strategy in notificationsStrategies">
                            <div class="w10" align="center">
                                <input type="checkbox" ng-model="notificationsStrategies[$index].active" style="background-color: #fff !important; border-radius: 5px !important; border-color: 3px solid #fff !important;" ng-change="updateFlag($index)">
                            </div>
                            <div class="column w90" style="padding: 0 10px; padding-left: 5px;">
                                <div class="row secondary-graph-notification-info">
                                    <div class="w50" align="left">{{strategy.title}}</div>
                                    <div class="w40" align="center">
                                        <input type="number" class="secondary-graph-percent-input" min="0" max="100" ng-model="notificationsStrategies[$index].percent" ng-show="strategy.active" ng-change="refreshStrategies($index)">
                                    </div>
                                    <div class="w10">
                                        <span ng-show="strategy.active">
                                            &#37;
                                        </span>
                                    </div>
                                </div>
                                <div class="row secondary-graph-notification-info">
                                    <div class="w50" align="left" style="font-weight: normal;">
                                        {{strategy.sub}}
                                    </div>
                                    <div class="w50"></div>
                                </div>
                                <div class="w100">
                                    <input type="range" min="0" max="100" value="50" class="secondary-graph-slider" ng-model="notificationsStrategies[$index].percent" ng-change="refreshStrategies($index)" ng-show="strategy.active">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w100" style="align-content: center; margin-top: 15px;">
                        <div class="w33" align="center" ng-repeat="profile in notificationsStrategiesProfile">
                            <input type="checkbox" ng-model="notificationsStrategiesProfile[$index].active" style="background-color: #fff !important; border-radius: 5px !important; border-color: 3px solid #fff !important;" ng-change="refreshStrategiesProfile($index)">
                            <span style="font-weight: normal;">{{profile.title}}</span>
                        </div>                        
                    </div>
                </div>
            </div>

            <!-- BEGIN FORECAST TABLE -->
            <div ng-show="homeView == 3">
                <div align="left">
                    <h4>Forecast</h4>
                </div>

                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div class="margin-top-10" style="width: 100%; overflow-x: auto; border:1px solid #fff; border-radius: 3px;">
                          <table class="table table-striped" style="margin: 0; padding: 0;">
                            <thead>
                              <tr style="background-color: #fff; color: #222;" align="center">
                                <th>Período</th>
                                <th>Previsão</th>
                                <th>Acurácia</th>
                                <th>Model</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="forecast in forecasts" align="center" style="{{$index%2 != 0? 'background-color: rgba(255, 255, 255, 0.1': ''}}">
                                <td>{{forecast.intervalo}}</td>
                                <td>
                                    <img src="img/arrow_up.svg" ng-show="forecast.previsao == 1" height="10">
                                    <img src="img/arrow_down.svg" ng-show="forecast.previsao == 0" height="10">
                                    <span ng-show="forecast.previsao == 'None'">--</span>
                                </td>
                                <td>
                                    <span ng-show="forecast.previsao != 'None'">{{forecast.accuracy* 100 | number:2}}%</span>
                                    <span ng-show="forecast.previsao == 'None'">--</span>
                                </td>
                                <td>{{forecast.modelo}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <div align="center" style="width: 100%" ng-show="forecasts.length == 0">
                            <h5>Nenhum resultado encontrado.</h5>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12" style="padding: 0;">
                        <div class="margin-top-10" style="width: 100%; border:1px solid #fff; border-radius: 3px; overflow-x: none;">
                            <div class="column">
                                <div style="background-color: #fff; color: #222; padding: 10px; font-size: 12px;" align="left">
                                    OPÇÕES DE PREVISÃO
                                </div>
                                <div class="column" align="left" style="padding: 10px;">
                                    <div class="w100">
                                        <div class="input-group modalNotificationInputsContent">
                                          <span class="input-group-addon modalNotificationInputsIcon" id="date-phone-icon" style="background-color: #fff; border-color: #fff;">
                                            <label for="date-phone" class="modalNotificationInputsLabel" style="color: #222">Data de Previsão</label>
                                          </span>
                                          <input type="date" class="form-control modalNotificationInput" id="date-phone" aria-describedby="notification-phone-icon" style="border-color: #fff; font-size: 11px;" ng-model="newForest.datePrevision">
                                        </div>
                                    </div>

                                    <div class="w100" style="margin-top: 10px;">
                                        <div class="input-group modalNotificationInputsContent">
                                          <span class="input-group-addon modalNotificationInputsIcon" style="background-color: #fff; border-color: #fff;">
                                            <label class="modalNotificationInputsLabel" style="color: #222">Modelo</label>
                                          </span>
                                          <select class="form-control modalNotificationInput" style="border-color: #fff;" ng-model="newForest.model">
                                              <option selected value="svm">SVM</option>
                                              <option value="crf">CRF </option>
                                              <option value="nn">NN</option>
                                              <option value="dtc">DTC</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div align="right" style="margin-top: 10px;">
                                        <button style="width: 90px; height: 35px; color: #222; background-color: #fff; font-size: 12px; border: none; border-radius: 4px;" ng-click="createForest()">
                                             <i class="fa fa-plus" aria-hidden="true"></i>
                                            ADICIONAR
                                        </button>
                                    </div>
                                    
                                    <hr style="margin-top: 15px; width: 100%; height: 1px; color: #fff; background-color: #fff;">

                                    <div class="w100" style="margin-top: 10px;">
                                        <div class="input-group modalNotificationInputsContent">
                                          <span class="input-group-addon modalNotificationInputsIcon" style="background-color: #fff; border-color: #fff;">
                                            <label class="modalNotificationInputsLabel" style="color: #222">Previsão</label>
                                          </span>
                                          <select class="form-control modalNotificationInput" style="border-color: #fff;" ng-model="newForest.prevision">
                                              <option value="1">1 Dia</option>
                                              <option value="15">15 Dias</option>
                                              <option value="30" selected>1 Mês</option>
                                              <option value="60">2 Meses</option>
                                              <option value="90">3 Meses</option>
                                          </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div align="center" class="w100" style="margin-top: 20px;">
                    <img src="forecast.png" style="width:100%;">
                </div>
            </div>
            <!-- END FORECAST TABLE -->

            <!-- BEGIN INVOICE TABLE -->
            <div ng-show="homeView == 4">
                <div align="left">
                    <h4>Invoices</h4>
                </div>
                <div class="margin-top-10" style="width: 100%; overflow-x: auto; border:1px solid #fff; border-radius: 3px;">
                  <table class="table table-striped" style="margin: 0; padding: 0;">
                    <thead>
                      <tr style="background-color: #fff; color: #222;">
                        <th>Fornecedor</th>
                        <th style="white-space: nowrap">Valor da Invoice</th>
                        <th style="white-space: nowrap">Dólar Provisão</th>
                        <th style="white-space: nowrap">Data de Vencimento</th>
                        <th>Accuracy</th>
                        <th>Previsão</th>
                        <th style="white-space: nowrap">Sugestão de Últ. Pag.</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="invoice in forecastInvoice" align="center" style="{{$index%2 != 0? 'background-color: rgba(255, 255, 255, 0.1': ''}}">
                        <td style="white-space: nowrap">{{invoice.fornecedor}}</td>
                        <td style="white-space: nowrap">{{invoice.valor}}</td>
                        <th style="white-space: nowrap">{{invoice.dolar_provisao}}</th>
                        <td style="white-space: nowrap; color: #0068A7">{{invoice.dt_vencimento}}</td>
                        <td style="color: #0068A7">
                            <span ng-show="invoice.previsao != 'None'">{{invoice.accuracy* 100 | number:2}}%</span>
                            <span ng-show="invoice.previsao == 'None'">--</span>
                        </td>
                        <td>
                            <img src="img/arrow_up.svg" ng-show="invoice.previsao == 1" height="10">
                            <img src="img/arrow_down.svg" ng-show="invoice.previsao == 0" height="10">
                        </td>
                        <td style="color: #0068A7">{{invoice.sugestao == 'null'? '--': invoice.sugestao}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div align="center" style="width: 100%" ng-show="forecastInvoice.length == 0">
                    <h5>Nenhum resultado encontrado.</h5>
                  </div>
                </div>
            </div>
            <!-- END INVOICE TABLE -->

            <div class="row" style="margin: 20px 0;" ng-show="homeView != 2">
                <div class="w50" align="left">
                    <img src="img/preloading.png" style="height: 50px">
                </div>
                <div class="column w50" align="right" style="padding: 0;">
                    <button class="dashboard_invoices-button" ng-click="openModal(2)" style="margin-right: 5px;">Invoices</button>
                    <button class="dashboard_invoices-button" onclick="window.location.href='results.csv'">Relatório</button>
                </div>
            </div>

            <div class="row" style="margin: 20px 0;" ng-show="homeView != 2">
                <div class="w50" align="left">
                </div>
                <div class="column w50" align="right" style="padding: 0;">
                    <button class="dashboard_invoices-button" ng-click="changeHomeView(3)" style="margin-right: 5px;">Forecast</button>
                    <button class="dashboard_invoices-button" ng-click="changeHomeView(4)">Wizard</button>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END FIRST COLUMN -->

    <!-- BEGIN SECOND COLUMN -->
    <div class="col-md-3 dashboard-second-column">

        <div class="min-h33">
            <nav class="navbar dashboard-navbg">
              <span class="navbar-text">
                Indicadores
              </span>
            </nav>
            <div class="column" style="padding: 15px 0;">
                <div class="row dashboard-indicators {{indicatorIsOn && selectedIndicator.title == indicator.title ? 'selected-indicator':''}}" ng-repeat="indicator in indicators">
                    <div class="w10 cursor-pointer" ng-click="selectIndicator($index);" align="center">
                        <i class="fa fa-circle {{indicator.color == 1 ? 'color-green':'color-red'}}" aria-hidden="true"></i>
                    </div>
                    <div class="w40 font-12 cursor-pointer" align="left" ng-click="selectIndicator($index);">{{indicator.title}}</div>
                    <div class="w15 font-12 cursor-pointer" ng-click="selectIndicator($index);">{{indicator.percent}}<span ng-show="indicator.percent">%</span></div>
                    <div class="w10 font-12 cursor-pointer" ng-click="selectIndicator($index);">{{indicator.time}}<span ng-show="indicator.time">d</span></div>
                    <div class="w20">
                        <label class="switch">
                          <input type="checkbox" ng-model="indicators[$index].active" ng-change="turnOnIndicator()">
                          <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="w5">
                        <div class="font-12 cursor-pointer" ng-show="indicatorIsOn && selectedIndicator.title == indicator.title" align="left" ng-click="deselectIndicator()">
                            X
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="min-h33">
            <nav class="navbar dashboard-navbg">
              <span class="navbar-text">
                Notificações
                <i class="fa fa-cog cursor-pointer margin-left-10" aria-hidden="true" ng-click="openModal(3)"></i>
                <i class="fa fa-refresh cursor-pointer margin-left-10" aria-hidden="true" ng-click="notificationsRefresh()"></i>
              </span>
            </nav>

            <div class="column padding-15">
                <div class="row font-10 margin-0 margin-top-10" ng-repeat="notification in notifications">
                    <div class="w10">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </div>
                    <div class="w90">
                        <b>Invoice: {{notification.message}} - {{notification.date.split(' ')[0]}} - {{notification.indicadores}} Indicadores Ativos {{notification.title}}</b> 
                    </div>
                </div>
            </div>
        </div>

        <div class="min-h33">
            <nav class="navbar dashboard-navbg" style="align-content: center">
              <span class="navbar-text {{showActuality == 1?'noticeSelected':'cursor-pointer'}}" style="width: 50%; text-align: center;" ng-click="selectActulity(1)">
                Twitter Handles
              </span>
              <span class="navbar-text {{showActuality == 2?'noticeSelected':'cursor-pointer'}}" style="width: 50%; text-align: center;" ng-click="selectActulity(2)">
                Notícias
              </span>
            </nav>

            <div class="column" style="height: 500px; overflow-y: auto;" id="twitter" ng-show="showActuality == 1">
                <a class="twitter-timeline" data-lang="pt" data-theme="dark" href="https://twitter.com/sudoferraz/lists/algar-kamaji?ref_src=twsrc%5Etfw">Loading...</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>

            <div class="column" style="height: 500px; overflow-y: auto; padding: 20px; padding-top: 0;" ng-show="showActuality == 2">
                <div class="column" align="left" ng-repeat="notice in notices" style="border-bottom: 1px solid rgba(255, 255, 255, 0.7); padding: 15px 0px;">
                    <div style="color: rgba(255, 255, 255, 0.8); font-weight: bold; font-size: 14px; margin-bottom: 10px;">{{notice.title}}</div>
                    <div style="color: rgba(255, 255, 255, 0.5); font-size: 12px;">{{notice.shortDescription | limitTo: 140}} [...]</div>
                    <div><a target="_blank" href="{{notice.link}}" style="font-size: 9px;" class="cursor-pointer color-green">{{notice.link | limitTo: 55}}...</a></div>
                </div>
            </div>
        </div>

    </div>
    <!-- END SECOND COLUMN -->

</div>

<div ng-include src="'views/dashboard/modal/modal.html'"></div>
